div {
        text-align: center;
        
      }
.button {
  border: 1px solid;
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 6rem;
  margin: 3rem 
 
  
}   
#grey {
  background-color: grey;
  
  width: 8rem;
  height: 5rem;

}
#pink {
  background-color: pink;
}
#skyblue {
  background-color: skyblue;
}
#purple {
  background-color: purple;
}
#orange {
  background-color: orange;
}